extends layout

block content
  section.no-pad
    
    .row.no-margin
      .col.s6
        h5.margin-top-15 Hot Videos
      .col.s6.right-align.pt-5
        a.waves-effect.wave-pink.btn-flat.pink-text.text-darken-2.pt-5 More Hot Videos
    .row
      .col.s12.m3
        .card
          .card-image
            img(src='/imgs/photopack/1.jpg')
            span.card-title Card Title
          .card-content
            p
              | I am a very simple card. I am good at containing small bits of information.
          .card-action
            a(href='#') This is a link
      .col.s12.m3
        .card
          .card-image
            img(src='/imgs/photopack/2.jpg')
            span.card-title Card Title
          .card-content
            p
              | I am a very simple card. I am good at containing small bits of information.
          .card-action
            a(href='#') This is a link
      .col.s12.m3
        .card
          .card-image
            img(src='/imgs/photopack/3.jpg')
            span.card-title Card Title
          .card-content
            p
              | I am a very simple card. I am good at containing small bits of information.
          .card-action
            a(href='#') This is a link
      .col.s12.m3
        .card
          .card-image
            img(src='/imgs/photopack/4.jpg')
            span.card-title Card Title
          .card-content
            p
              | I am a very simple card. I am good at containing small bits of information.
          .card-action
            a(href='#') This is a link
