extends layout
block headCSS
  link(href='/vendor/owl/assets/owl.carousel.min.css', type='text/css', rel='stylesheet', media='screen,projection')
  link(href='/vendor/owl/assets/owl.theme.default.min.css', type='text/css', rel='stylesheet', media='screen,projection')
block content
  section.no-pad
    .row.no-margin
      .col.s6
        h5.margin-top-15 Hot Videos
      .col.s6.right-align.pt-5
        a.waves-effect.wave-pink.btn-flat.blue-text.text-darken-2.pt-5 More Hot Videos
    
    .owl-carousel
      each n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        .card.hoverable
          .card-image
            img(src='/imgs/temp/'+n+'.jpg')
            span.new.badge.grey.darken-3(data-badge-caption="") 8:99
          .card-content
            | I am a very simple card. I am good at 
            br
            a.small.grey-text.darken-1(href='#') investro1234
          .card-action
            .badge.grey.lighten-2.left $24.55
            .badge.right.small A hour ago
            div(style='clear: both')
  hr.hr-style
  section.no-pad
    .row.no-margin
      .col.s6
        h5.margin-top-15 Trending Videos
      .col.s6.right-align.pt-5
        a.waves-effect.wave-pink.btn-flat.blue-text.text-darken-2.pt-5 More Trending Videos
    
    .owl-carousel
      each n in [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
        .card.hoverable
          .card-image
            img(src='/imgs/temp/'+n+'.jpg')
            span.new.badge.grey.darken-3(data-badge-caption="") 8:99
          .card-content
            | I am a very simple card. I am good at 
            br
            a.small.grey-text.darken-1(href='#') investro1234
          .card-action
            .badge.grey.lighten-2.left $24.55
            .badge.right.small A hour ago
            div(style='clear: both')
  hr.hr-style
  section.no-pad
    .row.no-margin
      .col.s6
        h5.margin-top-15 New Videos
      .col.s6.right-align.pt-5
        a.waves-effect.wave-pink.btn-flat.blue-text.text-darken-2.pt-5 More New Videos
    
    .owl-carousel
      each n in [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
        .card.hoverable
          .card-image
            img(src='/imgs/temp/'+n+'.jpg')
            span.new.badge.grey.darken-3(data-badge-caption="") 8:99
          .card-content
            | I am a very simple card. I am good at 
            br
            a.small.grey-text.darken-1(href='#') investro1234
          .card-action
            .badge.grey.lighten-2.left $24.55
            .badge.right.small A hour ago
            div(style='clear: both')
    hr.hr-style
  section.no-pad
    .row.no-margin
      .col.s6
        h5.margin-top-15 Watch Again
      .col.s6.right-align.pt-5
        a.waves-effect.wave-pink.btn-flat.blue-text.text-darken-2.pt-5 History
    
    .owl-carousel
      each n in [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
        .card.hoverable
          .card-image
            img(src='/imgs/temp/'+n+'.jpg')
            span.new.badge.grey.darken-3(data-badge-caption="") 8:99
          .card-content
            | I am a very simple card. I am good at 
            br
            a.small.grey-text.darken-1(href='#') investro1234
          .card-action
            .badge.grey.lighten-2.left $24.55
            .badge.right.small A hour ago
            div(style='clear: both')
      
block footJS
  script(src='/vendor/owl/owl.carousel.min.js')
  script(src='/js/carousel.init.js')
  