doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    link(rel='icon', type='image/png', href='/imgs/logod.png')
    title DPORN CLASSIC - Home
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400",rel="stylesheet")
    link(href='/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    block headCSS
    link(href='/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')


  body.grey.lighten-4
    .navbar-fixed
      nav.white.navbar-fixed(role='navigation')
        .nav-wrapper
          a#logo-container.brand-logo.left(href='/') 
            img#logosite(src='/imgs/logodd.png')
          ul.right
            li.hide-on-med-and-down(style="width: 400px; padding-right: 16px")
              input.grey-text.grey-darken-4.custom-input(type='text', placeholder='search')
            li.hide-on-med-and-up.show-on-medium
              a(href='/search') 
                i.material-icons.grey-text.text-darken-4 search
            li
              a(href='/upload') 
                i.material-icons.grey-text.text-darken-4 cloud_upload
            if !session.username
              li.hide-on-med-and-up.show-on-medium
                a(href='/login?state=new') 
                  i.material-icons.grey-text.text-darken-4 input
              li.hide-on-med-and-down
                a.waves-effect.waves-light.btn.red(href='/login?state=new') 
                  i.material-icons.right input
                  | Login
            else        
              li
                a.tooltipped(href='/profile/'+username, data-position='bottom', data-tooltip='@'+session.username)
                  img.circle.responsive-img(src='https://img.busy.org/@'+session.username, alt='', style="height: 30px; margin-top:15px")
              li.hide-on-med-and-up.show-on-medium
                a(href='/logout') 
                  i.material-icons.grey-text.text-darken-4 exit_to_app
              li.hide-on-med-and-down
                a.waves-effect.waves-light.btn.red(href='/logout') 
                  i.material-icons.right exit_to_app
                  | Log Out
          a.sidenav-trigger.show-on-large(href='#', data-target='slide-out')
            i.grey-text.text-darken-4.material-icons menu
      
    include sidemenu
    
    .container
      block content
      br

    // Scripts
    script(src='/js/jquery.min.js')
    script(src='/js/materialize.js')
    script(src='/js/init.js')
    block footJS
    