extends layout
block headCSS

block content
  section
    .row.margin-vertical-15
      .col.s12.m12.l12.xl12
        h3.no-margin My Subscriptions 
    .row.margin-vertical-15
      .col.s12.m6.l3.xl3
      | Feature being updated.  
block footJS

